{% extends "base.html" %}

{% block content %}
<h1>Article info extractor</h1>
<h2>Extracted info</h2>
<hr>
<p>URL: {{ url }} </p>
<hr>
<p><b>Title:</b> {{ title }} </p>
<hr>
<p><b>date:</b> {{ date }} </p>
<hr>
{% for lib, text in texts.items() %}
    <h2><b> {{ lib }} </b></h2>  
    <div dir="{{ text_dir }}">
        {% if text %}
            {% for para in text.split('\n') %}
                <p>{{para}}</p>
            {% endfor %}
        {% endif %}
    </div>
    <hr>
{% endfor %}

{% endblock %}